header h1 {
    color:rgb(184, 29, 111);
    font-size: 95px;
    font-weight: bold;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p {font-size: large;
    font-family:'Times New Roman', Times, serif
    


}
li {

}
text link {

}
table {
    width: 80%;
    margin: auto;

}
tr:nth-child(even) {
    background-color: bisque;

}
td,th {
    text-align: center;
}
table caption {
    text-size-adjust: 50px;
    font-size: 150;
    font-weight: bold;
}