header h1 {
    color:#ae5f05;
    font-size: 95px;
    font-weight: bold;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
   
}
h1 { 
    text-shadow: 6px 6px 16px rgba(0,0,0,0.5);
}

p {font-size: large;
    font-family:'Times New Roman', Times, serif
    


}
li {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 8px;
    margin-bottom: 5px;
}
li:hover {
    background-color: bisque;
}

table {
    width: 80%;
    margin: auto;

}
tr:nth-child(even) {
    background-color: bisque;

}
td,th {
    text-align: center;
}
table caption {
    text-size-adjust: 50px;
    font-size: 150;
    font-weight: bold;
}
form {
    background-color:bisque;
    padding: 20px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

/* Visited link styles */
a:visited {
    color: #990099;
}

/* Hovered link styles */
a:hover {
    color: #ff9900;
    text-decoration: underline;
}

/* Active link styles */
a:active {
    color: #ff0000;
}
    
    